Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-avoid-const-params-in-decls,
  readability-const-return-type,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter-name,
  readability-make-member-function-const,
  readability-misleading-indentation,
  readability-redundant-* 
WarningsAsErrors: ''
HeaderFilterRegex: '^(.*[/\\])?nudge_.*[/\\](include|src|test)[/\\].*'
FormatStyle: file
